@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.link-btn{
    background-image: linear-gradient(#A4BC46,#85A019);
}
.navbar-nav li a{
    color: black!important;
}